body {
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

#button-container {
  margin: 20px;
}

.game-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
}